/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace "com.aaronhardy.rlgl.view.groupStatus.*";

s|WindowedApplication,
s|Window
{
	backgroundColor: #000000;
	color: #FFFFFF;
}

s|TextInput {
   borderStyle: solid;
   borderColor: #ffffff;
   content-background-color: #333333;
}

s|Button {
   cornerRadius: 2;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #4A4A4A, #4A4A4A, #292929, #292929;
   color: #ffffff;
   textRollOverColor: #ffffff;
   borderColor: #ffffff;
   fontamily: Verdana;
}
