/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace "com.aaronhardy.rlgl.view.groupStatus.*";

@font-face {
	src: url("/assets/verdana.ttf");
	fontFamily: Verdana;
}

s|WindowedApplication,
s|Window
{
	backgroundColor: #212121;
	color: #EEEEEE;
	chromeColor: #4C4C4C;
	symbolColor: #FFFFFF;
	rolloverColor: #666666;
	selectionColor: #999999;
	focusColor: #EEEEEE;
	fontFamily: Verdana;
}

s|TextInput {
   borderStyle: solid;
   borderColor: #ffffff;
   content-background-color: #333333;
}

/** When a button is "emphasized" (when it's the form's default button) it normally uses 
    DefaultButtonSkin which applies some blue accent to it.  I don't really care about giving it 
    an emphasized look because right now we only have one button in the [login] form. **/
s|Button.emphasized {
	skinClass: ClassReference("spark.skins.spark.ButtonSkin");
}
